<div>
  <sidebar-item-section name="Aplicaciones">
    <sidebar-item title="Sucursales" routerLink="/admin/sucursales">
      <mat-icon>store</mat-icon>
    </sidebar-item>
    <sidebar-item title="Colaboradores" routerLink="/admin/colaboradores">
      <mat-icon>person</mat-icon>
    </sidebar-item>
    <sidebar-item title="Viajes" routerLink="/admin/viajes">
      <mat-icon>luggage</mat-icon>
    </sidebar-item>
    <sidebar-item title="Tarifas" routerLink="/admin/tarifas">
      <mat-icon>local_atm</mat-icon>
    </sidebar-item>
  </sidebar-item-section>
</div>
