<div class="card mx-auto max-w-4xl">
    <div class="card-header">
      <h2 class="card-title">Nuevo Viaje</h2>
    </div>
    <div class="card-content">
      <form [formGroup]="managementForm" (ngSubmit)="onSubmit()" class="space-y-8">
        <div class="form-grid">
            <div>
                <label for="branch" class="form-label">Seleccione una Sucursal</label>
                <select id="branch" formControlName="branch" class="form-input" (change)="onSelect($event)">
                    <option value="">Seleccione una sucursal</option>
                    <option *ngFor="let branch of branches" [value]="branch.sucu_Id">
                    {{ branch.sucu_Nombre }}
                    </option>
                </select>
            </div>

            <div>
                <label for="transportista" class="form-label">Seleccione un Transportista</label>
                <select id="transportista" formControlName="transportista" class="form-input" (change)="onSelectColaborador($event)">
                    <option value="">Seleccione un transportista</option>
                    <option *ngFor="let colab of collaboradoresDDL" [value]="colab.cola_Id">
                    {{ colab.cola_PrimerNombre + ' ' + colab.cola_PrimerApellido}}
                    </option>
                </select>
            </div>
            <div>
              <label style="margin-top: 2.3rem; font-size: 1.5rem;" for="branch" class="form-label">Tarifa por km: {{tarifa + ' Lps' }}</label>
            </div>
        </div>
        <div style="color: red;" *ngIf="modeloVacio">
          Tiene que seleccionar al menos a un colaborador.
      </div>

        <div class="collaborators-section" *ngIf="emplSucu">
          <h3 class="section-title">Colaboradores</h3>
          <div class="form-grid">
            <div *ngFor="let collaborator of collaborators; let i = index" class="collaborator-item">
              <div class="checkbox-group">
                <mat-checkbox 
                  [formControlName]="'collaborator' + i"
                  color="primary"
                  style="color: white;"
                >
                  <p style="color: white; margin-top: 0.7rem;">{{ collaborator.cola_PrimerNombre +' ' + collaborator.cola_PrimerApellido + ' - ' + 'Dist: ' + collaborator.suco_DistanciaColaborador +'KM' }}</p>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        
        <div style="color: red;" *ngIf="mas100">
          El viaje no puede acumular mas de 100km.
      </div>
        <div class="flex justify-end gap-4">
          <button mat-button (click)="onCancel()" class="btn btn-outline">
            Cancelar
          </button>
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary" [disabled]="!managementForm.valid">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>

